<%= turbo_frame_tag "modal" do %>
  <%= tag.div data: { controller: "turbo-modal",
                      turbo_modal_target: "modal",
                      action: "turbo:submit-end->turbo-modal#submitEnd keyup@window->turbo-modal#closeWithKeyboard click@window->turbo-modal#closeBackground" } do %>
    <div class="fixed inset-0 flex items-center justify-center" style="z-index: 99999 !important; background-color: rgba(17, 24, 39, 0.6) !important;">
      <div class="relative w-full max-w-md mx-4 rounded-lg bg-stone-50 shadow-xl border border-stone-200">
        <div class="flex items-center justify-between px-6 pt-6 pb-4">
          <h1 class="text-2xl font-bold text-stone-800"><%= @title %></h1>
          <%= button_tag "Close",
                         data: { action: "turbo-modal#hideModal" },
                         type: "button",
                         class: "text-stone-600 bg-transparent hover:bg-stone-200 hover:text-stone-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center" do %>
            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
            </svg>
          <% end %>
        </div>
        
        <div class="px-6 pb-8">
          <div class="mx-auto w-full max-w-[550px]">
            <%= content %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>